.titleButton, .selectedTitleButton {
    width: 260px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 16px;
}

.titleButton {
    background-color: #eedcb3;
    color: #000000;
}

.selectedTitleButton {
    background-color: #000000;
    color: #FFFFFF;
}

.notRightButton{
    margin-right: 20px;
}

.selectTitleList{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.subtitles{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.questionNumberInput{
    font-size: 28px;
    padding-right: 5px;
}

.optionSelectDiv{
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 48%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 50px;
}
.toIntroButton{
    position: absolute;
    top:25%;
    right: 15%;
    background-color: #eedcb3;
    color: #000000;
    border:none;
}

.numberOfQuestion{
    position: absolute;
    top:25%;
    left: 10%;
}